p {
  font-family: Lato;
}

.contenedor {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.cajonera {
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
}

.botonera {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}
